.blank_bg {
  background-color: #c9b0ea;
  margin-top: 34px;
}
.container_blank {
  background-color: #684b94;
  padding-top: 50px;
  padding-bottom: 50px;
}
.list-group {
  background-color: #c9b0ea;
}
.albmart {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.albmart_lg {
  height: 130px;
  width: 150px;
  border-radius: 10px;
}
.white {
  color: #f3f3f3;
  font-weight: 600;
  font-size: 18px;
}
.single_play_btn {
  background-color: #8b6bbc;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #f3f3f3;
  font-family: Arial;
  font-size: 17px;
  padding: 10px 20px;
  font-weight: 600;
}
.single_play_btn:hover {
  background-color: #f3f3f3;
  color: #684b94;
}
.playback_song-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.scrollable-list {
  max-height: calc(
    100vh - 200px
  ); /* Adjust the 200px value as needed to fit your header and footer heights */
  overflow-y: auto;
}
