.form-label{
    font-size: 18px;
    color: purple;
    font-weight: 500;
}
.btn_inquire{
    color: #835886;
    font-weight: 700;
    font-size: large;
    background-color: #c9b0ea;
    border-radius: 2px;
    border: 1px solid #c9b0ea;
    padding: 5px 40px;
}
.btn_inquire:hover {
    color: #f8faf9;
    background-color: #835886;
    border: 1px solid #835886;
    /* padding: 5px 15px; */
  }
  